<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fit.tele.com.telefit">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo_white"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".utils.MyApplication">

        <activity
            android:name=".activity.SplashActivityClass"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WelcomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NumberCallActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.VideoMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SignUpTwoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ForgotActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".activity.AboutTeleFitActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ThemesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.UnitsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.QRCodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MainExercisesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ExercisesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.ExerciseDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SearchFoodActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.GymActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FitnessActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GoalsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.YogaActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CrossFitActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GirlsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PlayVideoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CreateRoutineActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.NewRecipeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.AddFoodActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC1yZXv7lpPr8ACbKsIp8hWsHvFqU_5NR8" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".firebasepush.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".utils.LocationService"
            android:enabled="true"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="fit.tele.com.telefit.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="30fdeb66b1e0bb2912e59750098b3ca12358427f" />

        <service android:name=".firebasepush.MyFirebaseInstanceIDService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>
